VITE_CRYPTO_KEY=<some value>
VITE_APP_NAME=Model Management
VITE_APP_VERSION=0.0.1
VITE_API_URL=
VITE_SANDBOX_API_URL=
VITE_NATS_API_URL=
VITE_SIMULATION_ENDPOINT=
VITE_DEMS_ENDPOINT=
VITE_ADMIN_ENDPOINT=


VITE_ALLOWED_HOSTS=mytest.local, localany.com