# Application Configuration
NODE_ENV=dev
MAX_CPU=2
FUNCTION_NAME=model-management-backend
PORT=3000
# Tazama Authentication
TAZAMA_AUTH_URL=http://localhost:3020/v1/auth
AUTH_PUBLIC_KEY_PATH=public-key.pem
CERT_PATH_PUBLIC=public-key.pem
# Admin Service
ADMIN_SERVICE_URL=http://localhost:3100

OPENSEARCH_NODE='http://localhost:9200/'
OPENSEARCH_SSL_REJECT_UNAUTHORIZED=false
OPENSEARCH_USERNAME='username'
OPENSEARCH_PASSWORD='password'
ALLOWED_ORIGINS=*
CRYPTO_SECRET_KEY=secret-key

# SMTP Configuration for Email Notifications
SMTP_HOST=smtp.mailprovider.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=username@mailprovider.com
SMTP_PASS="password"
SMTP_FROM_EMAIL=username@mailprovider.com
SMTP_FROM_NAME="Tazama Rule Studio"

# Docker Hub Configuration
DOCKERHUB_TOKEN=dckr_pat_tokenstring
DOCKERHUB_USERNAME=username
DOCKERHUB_NAMESPACE=pslcopilot

DOCKER_HOST=unix:///var/run/docker.sock
TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE=/var/run/docker.sock
TESTCONTAINERS_HOST_OVERRIDE=host.docker.internal
TESTCONTAINERS_RYUK_DISABLED=true
DEBUG=testcontainers*

ENCRYPTION_KEY=secret-key
IV_LENGTH=abcdefghijklmnop

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password