
# Application Configuration
NODE_ENV=dev
MAX_CPU=2
FUNCTION_NAME=model-management-backend
PORT=3000
API_HOST=localhost
API_PORT=3005
# Tazama Authentication
TAZAMA_AUTH_URL=
AUTH_PUBLIC_KEY_PATH=filename.pem
CERT_PATH_PUBLIC=filename.pem

# DEMS Engine
DEMS_BASE_URL=http://localhost:3002/dems-engine

# Data Lake Hub
DLH_URL=http://localhost:5000

# Audit Logging Configuration
AUDIT_PROVIDER=opensearch
OPENSEARCH_NODE=https://localhost:9200
OPENSEARCH_USERNAME=admin
OPENSEARCH_PASSWORD=admin
OPENSEARCH_INDEX=rule-studio-audit